{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}{{ post.titulo }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <!-- Card para Detalhes do Post -->
    <div class="card mb-4">
        <div class="card-header">
            <h2 class="h5">{{ post.titulo }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Autor:</strong> {{ post.autor.username }}</p>
            <p><strong>Data de Publicação:</strong> {{ post.data_publicacao }}</p>
            <p>{{ post.conteudo }}</p>
        </div>
    </div>

    <!-- Comentários -->
    <div class="card">
        <div class="card-header">
            <h3 class="h6">Comentários</h3>
        </div>
        <ul class="list-group list-group-flush">
            {% for comment in post.comentarios.all %}
            <li class="list-group-item">
                <strong>{{ comment.autor.username }} disse:</strong>
                {{ comment.conteudo }} - <em>{{ comment.data_criacao }}</em>
            </li>
            {% empty %}
            <li class="list-group-item">Nenhum comentário ainda.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Botão Voltar -->
    <div class="mt-3 text-center">
        <a href="{% url 'listar_posts' %}" class="btn btn-primary">Voltar</a>
    </div>
</div>
{% endblock %}
